<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section class="login-register login-sidebar" id="wrapper"
         style="background-image:url(./assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form (ngSubmit)="createUser()"
            [formGroup]="registerForm"
            autocomplete="off"
            class="form-horizontal form-material"
            id="loginform">

        <a class="text-center db" href="javascript:void(0)">
          <img alt="Home" src="./assets/images/logo-icon.png"/><br/>
          <img alt="Home" src="./assets/images/logo-text.png"/>
        </a>

        <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>

        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control" placeholder="Name" formControlName="nombre" type="text">
          </div>
        </div>

        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" placeholder="Email" formControlName="email" type="text">
          </div>
        </div>

        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" placeholder="Password" formControlName="password" type="password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" placeholder="Confirm Password" formControlName="password2" type="password">
          </div>
        </div>

        <div class="row">
          <div class="col text-danger">
            <p *ngIf="campoNoValido('nombre')">El nombre no es obligatorio</p>
            <p *ngIf="campoNoValido('email')">El email es obligatorio</p>
            <p *ngIf="passwordValid()">Las contraseñas deben de ser iguales</p>
            <p *ngIf="emptyPass('password', 'password2')">Las contraseñas son obligatorias</p>
          </div>
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign
              Up
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Already have an account? <a class="text-info m-l-5" routerLink="/login"><b>Sign In</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
